<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <h2>Warenkorb</h2>
		<form action="/add-to-cart" method="post">
		            <table class="table table-hover table-bordered">
		                <thead>
		                    <tr>
		                        <th>Menge</th>
		                        <th>Pizza</th>
		                        <th>Größe/Preis</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr th:each="item : ${items}">
								<td th:text="${item.quantity}"></td>>
		                        <td th:text="${item.pizza}"></td>>
								<td th:text="${item.size}"></td>>
		                    </tr>
		                </tbody>
		            </table>
		        </form>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>